<div class="container-fluid">

  {{!-- Home Page Content --}}
  <div class="row">

    <div class="col-xl-1"></div>
    <div class="col-xl-10 col-md-12 text-center">

      <div class="home-body">
        <h3 id="aboutUs">Find Your New Best Friend</h3>
        <p id="aboutUsParagraph">Our mission is to enable dog seekers to find their ideal pet. You can use our site to list a dog of your own, or as a buyer you can browse all of the dogs that have currently been listed. We also show you the 20 latest dogs to hit the PetFinder site for adoption. If you have any questions or concerns, please feel free to contact us. We hope you find your next best friend here, and thanks for choosing Hounders!</p>

        <div class="home-buttons">
          <a href="/add"><button class="btn btn-md">List a dog</button></a>
          <a href="/dogs"><button class="btn btn-md">Buy a dog</button></a>
          <a href="/adopt"><button class="btn btn-md">Adopt a dog</button></a>
        </div>
        
      </div>

    </div>
    <div class="col-xl-1"></div>
  </div>