/* =================================
        Mobile Responsiveness
================================= */

@media (max-width: 1024px) {
    .home-body {height: 450px;}
    .sellerButtons {margin: 0 31%;}
    .petPageLink {margin: 0 38%;}
    #formBody {width: 80%; margin: 25px 10%;}
    .choose {width: 40%;}
    .dogImg {width: 80%;}
    .sellerButtons {margin: 0 24%;}
    .dogImg {width: 80%;}
    .dog ul {margin-top: 25px;}
    .sellerButtons {margin: 0 24%;}
    .petPageLink {margin: 0 34%;}
}

@media (max-width: 414px) {
    #formBody {width: 100%; margin: 25px 0;}
}